*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: darkslategrey;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

li{
    list-style: none;
    margin: 0px 10px;
}


.header-container{
    display:flex;
    background-color: #FFFFFF;
    justify-content: flex-end;
    padding: 10px 10px;  
}

.header-links{
    display:flex;
    align-items: center;
    color: black;
}

.header-links  a{
    color: black;
    font-size: .9em;
}

.content-container{
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    flex-direction: column;

}

.content{
    
    display: flex;
    
    height: 600px;
    justify-content: center;
    align-items: center;

}

.content >*{
    margin-top: 20px;
}

.search-bar input[type=search]{
    width: 500px;
    color: red;
    border: 1px lightgrey solid;
    border-radius: 22px;
    height: 44px;
    margin-top: 10px;
    padding-left: 20px;
    
}

.buttons{
    display: block;
    text-align: center;
}


.search-bar button{
    border: 1px solid white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: lighter;
    margin:30px 10px 20px 0px;
    color:  #868686;
  
}


.footer-container{
    
    background-color: #F6F7F8;
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
   justify-content: space-between;
    
}
.footer1{
    display: flex;
    border-top: 1px solid  #D6D9DC;
    padding: 10px 20px;
    align-items: center;
}
.footer2{
    display:flex;
    padding: 10px;
    border-top: 1px solid #D6D9DC;
    margin-right: 10px;
}

.privacy{
    margin-left: auto;
}

.no-wrap{
    flex-shrink: 0;
}




