*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: darkslategrey;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

li{
    list-style: none;
    margin: 0px 10px;
}


.header-container{
    display:flex;
    background-color: lightcoral;
    justify-content: flex-end;
    padding: 10px 20px;  
}

.header-links{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

.header-links  a{
    color: black;
    font-size: .9em;
}

.profile{
    margin-right: 10px;
}



.content-container{
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(191, 218, 141);
    border: 1px solid white;

}

.content{
    
    display: flex;
    flex-direction: column;
    height: 600px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;

}

.content >*{
    margin-top: 20px;
}
.footer-container{
    
    background-color: rgb(141, 196, 218);
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px;
   justify-content: space-between;
    
}
.footer1{
    display: flex;
    border-top: 1px solid darkgray;
    height: 40px;
    margin-left: 20px;
    align-items: center;
}
/*
.footer2-links{
    display:flex;
    justify-content: space-between;
    border-top: 1px solid darkgray;
}
.footer2-links-l{
    display:flex;
    justify-content: flex-start;
    margin-top: auto;
    margin-left: 20px;
    border: 1px solid white;

}

.footer2-links-r{
    display:flex;
    justify-content: flex-end;
    border: 1px solid white;
    margin-left: auto;    
} */


.footer2{
    display:flex;
    padding: 10px;
    border-top: 1px darkgray solid;
}

.privacy{
    margin-left: auto;
}

.no-wrap{
    flex-shrink: 0;
  }

.buttons{
    display: flex;
    justify-content: center;
border: 1px solid white;
}

.settings{
    margin-right: 20px;
}

.buttons input[type=button]{
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: lighter;
    margin:30px 10px 20px 0px;
    color:  #868686;
    
}

.search-bar input[type=text]{
        width: 500px;
        color: red;
        border: 1px lightgrey solid;
        border-radius: 22px;
        height: 44px;
        margin-top: 10px;
        padding-left: 20px;
        
}
